Makefile
Makefile.in
.libs
.deps
*.l[oa]
*.[oa]
*.swp
stamp-h?

aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool

docs/reference/Doxyfile
docs/reference/doxygen-output.txt
docs/reference/doxygen-warnings.txt
docs/reference/html/
docs/reference/webkitmm_doxygen_tags
docs/reference/xml/

examples/browser/browser
examples/simple/simple

scripts/config.guess
scripts/config.sub
scripts/depcomp
scripts/install-sh
scripts/libtool.m4
scripts/ltmain.sh
scripts/ltoptions.m4
scripts/ltsugar.m4
scripts/ltversion.m4
scripts/lt~obsolete.m4
scripts/missing
scripts/compile-binding.am
scripts/dist-changelog.am
scripts/doc-reference.am
scripts/generate-binding.am

tools/extra_defs_gen/generate_extra_defs

webkit/src/.stamps/

webkit/stamp-h1
webkit/webkitmm-1.0.pc
webkit/webkitmmconfig.h

webkit/webkitmm/*.cc
!webkit/webkitmm/init.cc
webkit/webkitmm/*.h
!webkit/webkitmm/init.h
!webkit/webkitmm/wrap_init.h

webkit/webkitmm/private/*_p.h
