Makefile
Makefile.in
.libs
.deps
*.l[oa]
*.[oa]
*.swp
stamp-h?

aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool

docs/reference/Doxyfile
docs/reference/doxygen.log
docs/reference/html/
docs/reference/webkitmm*.tag
docs/reference/webkitmm*.devhelp2

examples/browser/browser
examples/simple/simple

build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/libtool.m4
build/ltmain.sh
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/missing
build/compile-binding.am
build/dist-changelog.am
build/doc-reference.am
build/generate-binding.am

tools/extra_defs_gen/generate_extra_defs

webkit/src/.stamps/

webkit/stamp-h1
webkit/webkitmm-1.0.pc
webkit/webkitmmconfig.h

webkit/webkitmm/*.cc
!webkit/webkitmm/init.cc
webkit/webkitmm/*.h
!webkit/webkitmm/init.h
!webkit/webkitmm/wrap_init.h

webkit/webkitmm/private/*_p.h
