Makefile
Makefile.in
.libs
.deps
*.la
*.lo
*.[oa]
*.swp

aclocal.m4
autom4te.cache/
config.log
config.status
configure
docs/reference/Doxyfile
examples/simple/simple
libtool
scripts/config.guess
scripts/config.sub
scripts/depcomp
scripts/install-sh
scripts/ltmain.sh
scripts/missing
tools/extra_defs_gen/generate_extra_defs
webkit/src/.stamps/
webkit/stamp-h1
webkit/webkitmm-1.0.pc
webkit/webkitmm/private/webview_p.h
webkit/webkitmm/webview.cc
webkit/webkitmm/webview.h
webkit/webkitmm/wrap_init.cc
webkit/webkitmmconfig.h
webkit/webkitmm/private/webframe_p.h
webkit/webkitmm/webframe.cc
webkit/webkitmm/webframe.h
