Source: libgdamm
Section: libs
Priority: optional
Maintainer: Johannes Schmid <johannes.schmid@openismus.com>
Build-Depends: debhelper (>= 4.0.0), libgtkmm-2.4-dev (>= 2.4.0)
Standards-Version: 3.6.1

Package: libgdamm-dev
Section: libdevel
Architecture: any
Depends: libgdamm (= ${Source-Version}), libgtkmm-2.4-dev (>= 2.4.0)
Description: C++ wrappers for libgda (development files)
 Libgdamm is a C++ interface for libgda
 .
 This package contains development files and examples.

Package: libgdamm
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description:  C++ wrappers for libgda (development files)
 Libgdamm is a C++ interface for libgda
 .
 This package contains shared libraries.

Package: libgdamm-doc
Section: doc
Architecture: all
Suggests: libgdamm-dev, www-browser
Description:  C++ wrappers for libgda (development files)
 Libgdamm is a C++ interface for libgda
 .
 This package contains the reference documentation.

